// 自動生成

@mixin mix_sprite--pc__arw01($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -130px -81px;
		background-size: auto;
		width: 25px;
		height: 7px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -130px -81px;
			background-size: auto;
			width: 25px;
			height: 7px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__controller01_b($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -232px -71px;
		background-size: auto;
		width: 7px;
		height: 61px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -232px -71px;
			background-size: auto;
			width: 7px;
			height: 61px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__controller01_w($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -232px 0px;
		background-size: auto;
		width: 7px;
		height: 61px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -232px 0px;
			background-size: auto;
			width: 7px;
			height: 61px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__logo01_b($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -78px -40px;
		background-size: auto;
		width: 134px;
		height: 28px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -78px -40px;
			background-size: auto;
			width: 134px;
			height: 28px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__logo01_w($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -84px -148px;
		background-size: auto;
		width: 134px;
		height: 28px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -84px -148px;
			background-size: auto;
			width: 134px;
			height: 28px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__logo02_w($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -78px 0px;
		background-size: auto;
		width: 144px;
		height: 30px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -78px 0px;
			background-size: auto;
			width: 144px;
			height: 30px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__pagetop($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -91px -81px;
		background-size: auto;
		width: 29px;
		height: 15px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -91px -81px;
			background-size: auto;
			width: 29px;
			height: 15px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__recruit01($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px 0px;
		background-size: auto;
		width: 68px;
		height: 71px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px 0px;
			background-size: auto;
			width: 68px;
			height: 71px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__recruit02($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -148px;
		background-size: auto;
		width: 74px;
		height: 60px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -148px;
			background-size: auto;
			width: 74px;
			height: 60px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__recruit03($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: 0px -81px;
		background-size: auto;
		width: 81px;
		height: 57px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: 0px -81px;
			background-size: auto;
			width: 81px;
			height: 57px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__target01($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -91px -106px;
		background-size: auto;
		width: 12px;
		height: 12px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -91px -106px;
			background-size: auto;
			width: 12px;
			height: 12px;
			
			display: inline-block;
		}
	}
}

@mixin mix_sprite--pc__target02($insert: before) {
	@if $insert == false {
		background-repeat: no-repeat;
		background-image: url(../img/module/sprites_pc.png);
		
		background-position: -113px -106px;
		background-size: auto;
		width: 9px;
		height: 9px;
		
		display: block;
	} @else {
		&:#{$insert} {
			content: '';
			background-repeat: no-repeat;
			background-image: url(../img/module/sprites_pc.png);
			
			background-position: -113px -106px;
			background-size: auto;
			width: 9px;
			height: 9px;
			
			display: inline-block;
		}
	}
}