|</div>
// #main
|</div>
// #contents
footer#gFooter.gFooter(role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter")
	p.font__robot--regular() Page top
	p.gFooter__logo: a.gFooter__logo-anchor(href="/") サイト名
	p.gFooter__copyright
		small &copy;&nbsp;会社名&nbsp;Inc.
// /footer#footer
|</div>
// #wrapper
script(src!="<?php echo get_stylesheet_directory_uri(); ?>/js/vendor.min.js")
script(src!='<?php echo get_stylesheet_directory_uri(); ?>/js/bundle.js')
|</body>
|</html>