// 自動生成

/*
#overview
スプライト [ pc ]

スプライト [ pc ]
*/


/*#styleguide

mixinに関して
デフォルトでbeforeに挿入
引数にafter指定でafterに挿入
falseを指定すればその要素

```
<table class='dev_table'>
<tr>
<th>アイコン</th>
<th>クラス名</th>
<th>mixin名</th>
</tr>

<tr>
<td>
<div class='sprite--pc__arw01'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--pc__arw01</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--pc__arw01</span>
</td>
</tr>

</table>
```
*/












%ext_sprite_pc {
    background-image: url(../img/module/sprites_pc.png);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
}



.sprite--pc__arw01{
    &:before {
        @extend %ext_sprite_pc;
        
        width: 25px;
        height: 7px;
        background-position: 0px 0px;
        
    }
}
    //名前
    //sprite.name         : arw01
    //x座標
    //sprite.x            : 0
    //y座標
    //sprite.y            : 0
    //実際にpositionで指定するx座標
    //sprite.offset_x     : 0
    //実際にpositionで指定するy座標
    //sprite.offset_y     : 0
    //その要素の幅
    //sprite.width        : 25
    //その要素の高さ
    //sprite.height       : 7
    //画像自体の幅
    //sprite.total_width  : 25
    //画像自体の高さ
    //sprite.total_height : 7
    //画像名
    //sprite.image        : sprites_pc.png


