// 自動生成

/*
#overview
スプライト [ sp ]

スプライト [ sp ]
*/


/*#styleguide

ディレクトリ名が「sp」だとすべて半分のサイズになります。　　　　
あらかじめ2倍の画像を入れるように。

mixinに関して
デフォルトでbeforeに挿入
引数にafter指定でafterに挿入
falseを指定すればその要素

```
<table class='dev_table'>
<tr>
<th>アイコン</th>
<th>クラス名</th>
<th>mixin名</th>
</tr>

<tr>
<td>
<div class='sprite--sp__arw01'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__arw01</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__arw01</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__controller01_b'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__controller01_b</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__controller01_b</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__controller01_w'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__controller01_w</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__controller01_w</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__logo01_b'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__logo01_b</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__logo01_b</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__logo01_w'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__logo01_w</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__logo01_w</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__recruit01'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__recruit01</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__recruit01</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__recruit02'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__recruit02</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__recruit02</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__recruit03'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__recruit03</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__recruit03</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__target01'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__target01</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__target01</span>
</td>
</tr>

<tr>
<td>
<div class='sprite--sp__target02'></div>
</td>
<td>
<span class='styleguide__copy'>sprite--sp__target02</span>
</td>
<td>
<span class='styleguide__copy'>mix_sprite--sp__target02</span>
</td>
</tr>

</table>
```
*/












%ext_sprite_sp {
    background-image: url(../img/module/sprites_sp.png);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
}



.sprite--sp__arw01{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 25px;
        height: 7px;
        background-position: 0px -102px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : arw01
    //x座標
    //sprite.x            : 0
    //y座標
    //sprite.y            : 204
    //実際にpositionで指定するx座標
    //sprite.offset_x     : 0
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -204
    //その要素の幅
    //sprite.width        : 50
    //その要素の高さ
    //sprite.height       : 14
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__controller01_b{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 7px;
        height: 60px;
        background-position: -115px -36px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : controller01_b
    //x座標
    //sprite.x            : 230
    //y座標
    //sprite.y            : 72
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -230
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -72
    //その要素の幅
    //sprite.width        : 14
    //その要素の高さ
    //sprite.height       : 120
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__controller01_w{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 7px;
        height: 60px;
        background-position: -127px -36px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : controller01_w
    //x座標
    //sprite.x            : 254
    //y座標
    //sprite.y            : 72
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -254
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -72
    //その要素の幅
    //sprite.width        : 14
    //その要素の高さ
    //sprite.height       : 120
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__logo01_b{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 110px;
        height: 23px;
        background-position: 0px 0px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : logo01_b
    //x座標
    //sprite.x            : 0
    //y座標
    //sprite.y            : 0
    //実際にpositionで指定するx座標
    //sprite.offset_x     : 0
    //実際にpositionで指定するy座標
    //sprite.offset_y     : 0
    //その要素の幅
    //sprite.width        : 220
    //その要素の高さ
    //sprite.height       : 46
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__logo01_w{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 110px;
        height: 23px;
        background-position: 0px -28px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : logo01_w
    //x座標
    //sprite.x            : 0
    //y座標
    //sprite.y            : 56
    //実際にpositionで指定するx座標
    //sprite.offset_x     : 0
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -56
    //その要素の幅
    //sprite.width        : 220
    //その要素の高さ
    //sprite.height       : 46
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__recruit01{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 39px;
        height: 41px;
        background-position: 0px -56px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : recruit01
    //x座標
    //sprite.x            : 0
    //y座標
    //sprite.y            : 112
    //実際にpositionで指定するx座標
    //sprite.offset_x     : 0
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -112
    //その要素の幅
    //sprite.width        : 78
    //その要素の高さ
    //sprite.height       : 82
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__recruit02{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 42px;
        height: 34px;
        background-position: -44px -56px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : recruit02
    //x座標
    //sprite.x            : 88
    //y座標
    //sprite.y            : 112
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -88
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -112
    //その要素の幅
    //sprite.width        : 84
    //その要素の高さ
    //sprite.height       : 68
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__recruit03{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 44px;
        height: 31px;
        background-position: -115px 0px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : recruit03
    //x座標
    //sprite.x            : 230
    //y座標
    //sprite.y            : 0
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -230
    //実際にpositionで指定するy座標
    //sprite.offset_y     : 0
    //その要素の幅
    //sprite.width        : 88
    //その要素の高さ
    //sprite.height       : 62
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__target01{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 12px;
        height: 12px;
        background-position: -139px -36px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : target01
    //x座標
    //sprite.x            : 278
    //y座標
    //sprite.y            : 72
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -278
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -72
    //その要素の幅
    //sprite.width        : 24
    //その要素の高さ
    //sprite.height       : 24
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


.sprite--sp__target02{
    &:before {
        @extend %ext_sprite_sp;
        
        width: 9px;
        height: 9px;
        background-position: -139px -53px;
        background-size: 159px 109px;
        
    }
}
    //名前
    //sprite.name         : target02
    //x座標
    //sprite.x            : 278
    //y座標
    //sprite.y            : 106
    //実際にpositionで指定するx座標
    //sprite.offset_x     : -278
    //実際にpositionで指定するy座標
    //sprite.offset_y     : -106
    //その要素の幅
    //sprite.width        : 18
    //その要素の高さ
    //sprite.height       : 18
    //画像自体の幅
    //sprite.total_width  : 318
    //画像自体の高さ
    //sprite.total_height : 218
    //画像名
    //sprite.image        : sprites_sp.png


