/*! #title
=========================================== */

/*
#overview
タイトルまとめ

コメント
*/


/*#styleguide
.title--slant
色だけ別指定。デフォは青

* * *
```

```
*/
.title--slant {
	text-align: center;
	color: #4691c9;
	margin-bottom: 20px;
	&__en, &__ja {
		display: block;
		color: inherit;
		position: relative;
		&-in {
			display: inline-block;
			font-size: inherit;
			line-height: inherit;
			letter-spacing: inherit;
			opacity: 0;
		}
		.js_titleSlant {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			background-color: #146aac;
		}
	}
	&__en {
		@extend .font__robot--bold;
		font-size: 30px;
		letter-spacing: 0;
		line-height: 1.3;
		position: relative;
		margin-bottom: 5px;
		&:before {
			content: '';
			position: absolute;
			background-color: #4691c9;
			height: 1px;
			width: 0;
			top: -15px;
			left: 50%;
			margin-left: -10px;
			//transform: rotateZ(-60deg);
			transform: rotateZ(0);
		}
		&.is_active:before {animation: title--slant_before 1000ms ease 0s 1 normal both;}
	}
	&__ja {
		font-size: 11px;
		line-height: 1.3;
		letter-spacing: 0.05em;
		font-weight: bold;
	}
	@include mq(small, up) {
		margin-bottom: 40px;
		&__en {
			font-size: 30px;
			margin-bottom: 7px;
			letter-spacing: 0em;
			&:before {
				top: -22px;
			}
			&:after {
				content: '';
				position: absolute;
				top: -31px;
				left: 50%;
				width: 1px;
				height: 19px;
				transform: scaleX(0) skewX(-0.5deg);
				background-color: #4691c9;
			}
			&.is_active:after {animation: title--slant_after 1000ms $easeOutExpo 1000ms 1 normal both;}
		}
		&__ja {
			font-size: 14px;
		}
	}
}
@keyframes title--slant_before{
	0%  {transform: rotateZ(0);width: 0;}
	50% {transform: rotateZ(0);width: 20px;}
	100%{transform: rotateZ(480deg);width: 20px;}
}
@keyframes title--slant_after{
	0%   {transform: scaleX(0) skewX(-0.5deg);opacity: 1;}
	100% {transform: scaleX(50) skewX(-0.5deg);opacity: 0;}
}