$gnav_hbgr_anime: 180ms;
// cool time
$gnav_hbgr_cool_anime: 180ms;
// メニューアニメ開始 -> メニューアニメ終了
$gnav_anime: 450ms;

$gnav_toggle_anime_total: $gnav_hbgr_anime + $gnav_hbgr_cool_anime;
$gnav_anime_total: ($gnav_hbgr_anime + $gnav_hbgr_cool_anime) * 2 + $gnav_anime;

$gnav_hbgr_anime_per01: round-decimal($gnav_hbgr_anime / $gnav_anime_total, 4) * 100;
$gnav_hbgr_cool_anime_per02: round-decimal($gnav_hbgr_cool_anime / $gnav_anime_total, 4) * 100;

$gnav_timeline01: $gnav_hbgr_anime_per01;
$gnav_timeline02: $gnav_hbgr_anime_per01 + $gnav_hbgr_cool_anime_per02;
$gnav_timeline03: 100 - $gnav_hbgr_anime_per01 - $gnav_hbgr_cool_anime_per02;
$gnav_timeline04: 100 - $gnav_hbgr_anime_per01;

/*! #header
=========================================== */
.gHeader {	// default : data-color='w'
	padding: 15px 15px 0;
	box-sizing: border-box;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	position: absolute;
	.body--home &{
		position: fixed;
	}
	&-logo {
		position: relative;
		width: 110px;
		height: 23px;
		@include mix_sprite--sp__logo01_w(before);
		@include mix_sprite--sp__logo01_b(after);
		&:before, &:after {
			position: absolute;
			z-index: 1;
			@include transition01;
		}
		&:after {opacity: 0;}
		&__anchor {
			width: 110px;
			display: block;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 5;
			display: block;
			@include chikan;
		}
	}
	&.is_sub_color &{
		&-logo {
			&:before {opacity: 0;}
			&:after {opacity: 1;}
		}
	}
	&-hamburger {
		box-sizing: content-box;
		cursor: pointer;
		background-color: transparent;
		height: 23px;
		width: 23px;
		z-index: 9;
		padding: 15px 16px 0;
		top: 0;
		right: 0;
		position: absolute;
		transition: right $gnav_anime ease $gnav_toggle_anime_total;
		border: none;
		&-in {
			display: block;
			width: 24px;
			height: 16px;
			position: relative;
		}
		&__line {
			&--top, &--mid, &--btm {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				display: block;
			}
			&--top {
				top: 0;
			}
			&--mid {
				top: 7px;
				transition: all $gnav_hbgr_anime;
				opacity: 0;
			}
			&--btm {
				bottom: 0;
			}
		}
		#wrapper[data-gNav_condition='close'] & {
			right: 0;
			&__line {
				&--top {animation: hamburger01 $gnav_anime_total forwards;}
				&--mid {opacity: 1;}
				&--btm {animation: hamburger02 $gnav_anime_total forwards;}
			}
		}
		#wrapper[data-gNav_condition='open'] & {
			&__line {
				&--top {animation: hamburger01_open $gnav_anime_total forwards;}
				&--mid {opacity: 0;}
				&--btm {animation: hamburger02_open $gnav_anime_total forwards;}
			}
		}
	}
	&-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(#00afdb, .9);
		#wrapper[data-gNav_condition='close'] & {
			visibility: hidden;
		}
	}
	
	//data-color='b'
	&[data-color='b'] &{
		&-logo {
			&:before {opacity: 0;}
			&:after {opacity: 1;}
		}
		&-hamburger__line {
			&--top, &--mid, &--btm {
				background-color: #333;
			}
		}
	}
	@include mq(medium, up) {
		padding: 30px 20px 0 40px;
		&-logo {
			float: left;
			width: 134px;
			height: 28px;
			@include mix_sprite--pc__logo01_w(before);
			@include mix_sprite--pc__logo01_b(after);
		}
		&-hamburger {display: none;}
		&-nav {
			position: static;
			float: right;
			background: none;
			height: auto;
			width: auto;
			#wrapper[data-gNav_condition='close'] & {
				visibility: visible;
			}
		}
	}
}
@keyframes hamburger01{
	0%						{transform: translateY(7px) rotate(45deg)}
	#{$gnav_timeline01}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline02}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline03}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline04}%	{transform: translateY(7px) rotate(0)}
	100%					{transform: translateY(0) rotate(0)}
}
@keyframes hamburger01_open {
	0%						{transform: translateY(0) rotate(0)}
	#{$gnav_timeline01}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline02}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline03}%	{transform: translateY(7px) rotate(0)}
	#{$gnav_timeline04}%	{transform: translateY(7px) rotate(0)}
	100%					{transform: translateY(7px) rotate(45deg)}
}
@keyframes hamburger02 {
	0%						{transform: translateY(-7px) rotate(-45deg)}
	#{$gnav_timeline01}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline02}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline03}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline04}%	{transform: translateY(-7px) rotate(0)}
	100%					{transform: translateY(0) rotate(0)}	
}
@keyframes hamburger02_open {
	0%						{transform: translateY(0) rotate(0)}
	#{$gnav_timeline01}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline02}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline03}%	{transform: translateY(-7px) rotate(0)}
	#{$gnav_timeline04}%	{transform: translateY(-7px) rotate(0)}
	100%					{transform: translateY(-7px) rotate(-45deg)}
}
/*! .gNav
=========================================== */
.gNav {
	&-in {
		display: table;
		width: 100%;
		height: inherit;
	}
	&-list {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		&__item {
			&-anchor {
				color: #fff;
				font-size: 15px;
				font-weight: bold;
				line-height: 4.3;
				display: block;
			}
		}
	}
	@include mq(medium, up) {
		&-in {
			display: block;
		}
		&-list {
			&__item {
				display: inline-block;
				&:first-child {display: none;}
				&-anchor {
					line-height: 34px;
					padding: 0 18px;
					letter-spacing: 0.09em;
					.gHeader[data-color="b"] &{color: #333;}
				}
			}
		}
	}
}