/*! #mainvidual
=========================================== */
.mv-under {
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
	color: #00afdb;
	height: 136px;
	position: relative;
	&:before {
		content: '';
		height: 65px;
		width: 2px;
		background-color: #00afdb;
		display: block;
		left: 50%;
		position: absolute;
		margin-left: -1px;
		transform: skew(-30deg)
	}
	&__cell {
		display: table-cell;
		vertical-align: bottom;
	}
	&__copy {
		font-style: italic;
		letter-spacing: 0.07em;
		line-height: 1.1;
		font-size: 35px;
	}
	&__title {
		font-weight: bold;
		font-size: 15px;
		letter-spacing: 0.02em;
	}
	@include mq(medium, up) {
		height: 312px;
		&:before {
			height: 160px;
		}
		&__cell {}
		&__copy {font-size: 66px;margin-bottom: 5px;}
		&__title {font-size: 20px;}
	}
}
%mv_has_bg {
	.mv-under {
		&:before {
			content: none;
		}
		height: 250px;
		color: #fff;
		&__cell {
			vertical-align: middle;
		}
		&__copy {
			font-size: 44px;
			letter-spacing: 0.05em;
			margin-bottom: 7px;
		}
		&__title {
			font-size: 15px;
			letter-spacing: 0.15em;
		}
	}
	@include mq(medium, up) {
		.mv-under {
			height: 600px;
			&__cell {
				padding-bottom: 15px;
			}
			&__copy {font-size: 86px;margin-bottom: 6px;}
			&__title {font-size: 20px;letter-spacing: 0.1em;}
		}
	}
}
.body--service {
	@extend %mv_has_bg;
	.mv-under {
		background-image: url(../img/introduction/bg_mv01_small.jpg);
		@include mq(medium, up) {
			background-image: url(../img/introduction/bg_mv01_medium.jpg);
		}
	}
}
.body--company {
	@extend %mv_has_bg;
	.mv-under {
		background-image: url(../img/introduction/bg_mv01_small.jpg);
		@include mq(medium, up) {
			background-image: url(../img/introduction/bg_mv01_medium.jpg);
		}
	}
}
